{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Başlık</th>
                    <th scope="col">İçerik</th>
                    <th scope="col">Statü</th>
                    <th scope="col">Yaş Aralığı</th>
                    <th scope="col">Kategori</th>
                </tr>
                </thead>
                <tbody>
                {% for blogs in blogs %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ blogs.title }}</td>
                        <td>{{ blogs.content|default('boş') }}</td>
                        <td>{{ blogs.status.name }}</td>
                        <td>{{ blogs.ageBetween.name }}</td>
                        <td>{{ blogs.category.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
